<!--<header class="header">
  <h1 id="texto"  style="text-align: center">
      Carlos Abril
    </h1>
    <img src="https://www.ups.edu.ec/documents/20121/77326/Isotipo+Original.png/48fb2ada-b4e7-09df-b45a-884cda62cc9b?version=1.0&t=1620746533255&imagePreview=1.jpg"
      height="20px" alt="Logo" class="logo" >
  
  </header>
-->
  <div> <h1 class="texto" >Título de la Página</h1>
       <img src="https://www.ups.edu.ec/documents/20121/77326/Isotipo+Original.png/48fb2ada-b4e7-09df-b45a-884cda62cc9b?version=1.0&t=1620746533255&imagePreview=1.jpg" 
    alt="Logo" class="logo">
  </div>
